* {
    padding:            0;
    margin:             0;
    color:              #6A6A6A;
}


body {
    background-color:   #ECECEC;
    margin:             0;
}


header {
    background-color:   white;
    width:              100%;
    padding:            10px 0;
    position:           fixed;
    top:                0;
    left:               0;
    box-shadow:         0 0 15px 0 #444;
}


.header-wrapper {
    max-width:          900px;
    margin:             0 auto;
    padding:            0;
    border:             0;
}


a {
    color:              #666666;
    text-decoration:    none;
}


.hyperlink {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -ms-transition:     all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}


.logo-image {
    margin:             auto 0;
    float:              left;
}


.logo-title {
    font-family:        Calibri,Arial,sans-serif;
    font-size:          2em;
    font-weight:        bold;
    display:            inline-block;
    line-height:        48px;
    margin-left:        10px;
}

a:hover .logo-title {
    color:              #2E2E2E;
    text-shadow:        0 0 1px #6C6C6C;
}


.header-navigation {
    float:              right;
}


.header-navigation ul {
    height:             100%;
    margin:             0;
    list-style-type:    none;
}


.menu-entry {
    float:              right;
    display:            inline-block;
    line-height:        48px;
    margin-left:        20px;
}



/* Content body */
.contents-header {
    background-color:   #2E2E2E;
    height:             250px;
}


.articles {
    max-width:          800px;
    padding:            0 10px 20px;
    margin:             0 auto;
    border: 0;
}


article {
    background-color:   white;
    margin:             30px auto 0;
    padding:            50px 80px;
    box-shadow:         0 0 10px 3px #ccc;
}


footer {
    background-color:   #2E2E2E;
    height:             250px;
}


.footer-navigation {
    margin:             0 auto;
}


.contents-footer {
    margin:             40px auto 50px;
    text-align:         center;
    font-weight:        bold;
}


.pagination {
    padding:            0 20px;
    cursor:             default;
}


.button {
    background-color:   #2E2E2E;
    color:              white;
    border-radius:      5px;
    padding:            8px 20px;
    border:             2px solid #2E2E2E;
}


a.button:hover {
    background-color:   rgba(255,255,255,0);
    color:              #2E2E2E;
}


.disable {
    background-color:   #ACACAC;
    color:              #ECECEC;
    border:             2px solid #ACACAC;
    cursor:             default;
}


a:hover .post-title {
    color:              #2E2E2E;
    text-shadow:        0 0 1px #6C6C6C;
}
