html,
body,
div {
    padding:            0;
    margin:             0;
    color:              #6A6A6A;
    font-family:        Lato, Calibri, Arial, sans-serif;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing:    border-box;
    -ms-box-sizing:     border-box;
    -o-box-sizing:      border-box;
    box-sizing:         border-box;
}


body {
    background-color:   #ECECEC;
}


h1 {
    font-size:          2rem;
}
@media (max-width: 699px) {
    h1 {
        font-size:      1.75rem;
    }
}


.fade-transition {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition:    all 0.3s ease-out;
    -ms-transition:     all 0.3s ease-out;
    -o-transition:      all 0.3s ease-out;
    transition:         all 0.3s ease-out;
}


.page-header {
    background-color:   white;
    width:              100%;
    height:             70px;
    padding:            0;
    position:           fixed;
    top:                0;
    box-shadow:         0 0 15px 0 #ccc;
    z-index:            50;
}


.header-wrapper {
    max-width:          850px;
    margin:             0 auto;
    padding:            0;
    position:           relative;
}


a {
    color:              #666666;
    text-decoration:    none;
}


.logo {
    margin-left:        10px;
    display:            inline-block;
}


.logo-image {
    margin-top:         10px;
    vertical-align:     top;
}


.logo-title {
    font-size:          1.6em;
    font-weight:        bold;
    display:            inline-block;
    line-height:        70px;
}

.logo:hover {
    color:              #2B2B2B;
    text-shadow:        0 0 1px #6C6C6C;
}

.header-navigation ul {
    margin:             0;
    padding:            0;
}


.menu-list {
    margin:             0;
    padding:            0;
    font-size:          1.17em;
    list-style:         none;
}
@media (min-width: 700px) {
    .menu-list {
        float:              left;
    }
}


@media (max-width: 699px) {
    .menu-entry {
        padding-top:        12px;
        padding-bottom:     12px;
        background-color:   #3C3C3C;
        color:              #AAAAAA;
        display:            block;
        text-align:         center;
        border-bottom:      1px solid #666666;
    }
    .menu-entry:hover {
        color:              white;
        text-shadow:        0 0 1px #ACACAC;
        background-color:   #6A6A6A;
    }
    .header-navigation {
        height:             0;
        overflow:           hidden;
    }
}
@media (min-width: 700px) {
    .menu-entry {
        display:            table-cell;
        padding-right:      20px;
        padding-left:       20px;
        font-weight:        bold;
        height:             70px;
        border-top:         5px solid transparent;
        border-bottom:      5px solid transparent;
        vertical-align:     middle;
        box-sizing:         border-box;
    }
    .menu-entry:hover {
        border-top-color:   #FF7E7E;
        color:              #2B2B2B;
        text-shadow:        0 0 1px #6C6C6C;
    }
}


@media (min-width: 700px) {
    .header-navigation {
        padding-right:      10px;
        float:              right;
    }
}


.toggle-menu-wrapper {
    height:         70px;
    margin-right:   10px;
    float:          right;
    display:        -webkit-flex;
    display:        -moz-flex;
    display:        -ms-flex;
    display:        -o-flex;
    display:        flex;
}
@media (min-width: 700px) {
    .toggle-menu-wrapper {
        display:            none;
    }
}


.toggle-menu > input {
    display: none;
}


.toggle-menu {
    cursor:                 pointer;
}

.toggle-menu:before {
    content:                "";
    display:                block;
    position:               absolute;
    top:                    50%;
    margin-top:             -10px;
    right:                  10px;
    height:                 20px;
    width:                  20px;
    background-color:       black;
}

/*.toggle-menu a:before,
.toggle-menu a:after
{
    content:                "";
    display:                block;
    position:               absolute;
    top:                    50%;
    right:                  10px;
    height:                 4px;
    width:                  20px;
    background-color:       white;
}

.toggle-menu a:before {
    margin-top:             -6px;
}
.toggle-menu a:after {
    margin-top:             2px;
}*/


/* 非チェック時の.menu-list */
#menu-toggle-checkbox:not(:checked) ~ .header-navigation {
  height: 0;
}

/* チェック時の.menu-list */
#menu-toggle-checkbox:checked ~ .header-navigation {
  height: 12em;
}



/* Content body */
.contents-header {
    background-color:   #2E2E2E;
    height:             250px;
    position:           relative;
}


.contents-header-wrapper {
    width:              100%;
    text-align:         center;
    position:           absolute;
    bottom:             0;
    color:              white;
}


.contents-header-wrapper h1 {
    margin:             30px 0 10px;
}


.contents-header-wrapper p {
    font-size:          1.2em;
    margin-bottom:      30px;
}


.contents-body {
    max-width:          800px;
    padding:            0 10px;
    margin:             50px auto;
}


article {
    background-color:   white;
    margin-top:         30px;
    padding:            50px 80px;
    box-shadow:         0 0 10px #ccc;
    border-radius:      3px;
}

@media (max-width: 699px) {
    article {
        padding:        30px 20px;
    }
}


footer {
    background-color:   #2E2E2E;
    height:             150px;
}


.footer-navigation {
    margin:             0 auto;
}


.contents-footer {
    margin:             50px auto 50px;
    text-align:         center;
}


.pagination {
    display:            inline-block;
    padding:            10px 10px;
    margin:             10px auto;
}


.button {
    display:            inline-block;
    background-color:   rgba(255,255,255,0);
    color:              #2E2E2E;
    border-radius:      5px;
    margin:             10px auto;
    padding:            8px 20px;
    border:             2px solid #2E2E2E;
}
@media (max-width: 360px) {
    .button {
        display:            inline-block;
        background-color:   rgba(255,255,255,0);
        color:              #2E2E2E;
        border-radius:      5px;
        margin:             10px auto;
        padding:            6px 12px;
        border:             2px solid #2E2E2E;
    }
}


.previous:before {
    content:            "<< ";
}
.next:after {
    content:            " >>";
}
@media (max-width: 420px) {
    .previous:before {
        content:            "";
    }
    .next:after {
        content:            "";
    }
}


a.button:hover {
    background-color:   #2E2E2E;
    color:              #ECECEC;
}


.disable {
    color:              #ACACAC;
    border:             2px solid #ACACAC;
    cursor:             default;
}


.article-meta-data {
    color:              #ACACAC;
    font-size:          .75rem;
    text-transform:     uppercase;
    vertical-align:     top;
}

.estimate-reading-time {
    float:              right;
}
@media (max-width: 450px) {
    .estimate-reading-time {
        display:        none;
    }
}

.article-title:hover {
    color:              #2E2E2E;
    text-shadow:        0 0 1px #6C6C6C;
}


address {
    text-align:         center;
    font-style:         normal;
    padding:            30px;
}
