---
layout:         default
title:          Categories
permalink:      /categories/
---

{% capture site_categories %}{% for category in site.categories %}{{ category | first }}{% unless forloop.last %},{% endunless %}{% endfor %}{% endcapture %}
{% assign categories = site_categories | split:',' | sort %}

<ul class="tags inline-list">
  {% for category in categories %}
    {% assign item = category | strip_newlines | strip %}
    <li><a href="#{{ item }}" class="tag"><span class="term">{{ item }}</span><span class="count">{{ site.categories[item].size }}</span></a></li>
  {% endfor %}
</ul>

{% for category in categories %}
  {% assign item = category | strip_newlines | strip %}
  <article class="contents">
    <h2 class="tag-header" id="{{ item }}">{{ item }}</h2>
    <section class="contents-entry">
      <ul>
        {% for post in site.categories[item] %}
          {% if post.title != null %}
            <li><a href="{{ post.url | prepend: baseurl }}" title="{{ post.title }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </article>
{% endfor %}
