---
layout:         default
title:          Tags
permalink:      /tags/
---

{% capture site_tags %}
  {% for tag in site.tags %}{{ tag | first }}{% unless forloop.last %},{% endunless %}{% endfor %}
{% endcapture %}
{% assign tags = site_tags | split:',' | sort %}

<ul class="tags">
  {% for tag in tags %}
    {% assign item = tag | strip_newlines | strip %}
    <li><a href="#{{ item }}" class="tag"><span class="term">{{ item }}</span><span class="count">{{ site.tags[item].size }}</span></a></li>
  {% endfor %}
</ul>

{% for tag in tags %}
  {% assign item = tag | strip_newlines | strip %}
  <article class="contents">
    <h2 id="{{ item }}">{{ item }}</h2>
    <section class="contents-entry">
      <ul>
        {% for post in site.tags[item] %}
          {% if post.title != null %}
            <li><a href="{{ post.url | prepend: baseurl }}" title="{{ post.title }}">{{ post.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </section>
  </article>
{% endfor %}
