<div class="contents-header">
  <div>
    {% capture icon %}{% for menu in site.menus %}{% if menu.title == page.title %}{{ menu.icon }}{% endif %}{% endfor %}{% endcapture %}
    <h1>{% if icon %}<i class="fa fa-{{ icon }}"></i> {% endif %}{{ site.menuspage.title }}{{ page.title }}</h1>
    {% if page.layout == 'post' %}
      <h3><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></h3>
    {% else %}
      <h3>{{ page.description }}</h3>
    {% endif %}
    {% if page.modified %}
      <p><i class="fa fa-clock-o"></i> modified: {{ page.modified | date: "%B %d, %Y" }}</p>
    {% endif %}
  </div>
</div>
