<header>
  <div class="header-wrapper">
    <a href="/">
      <img class="logo-image" src="/images/logo.png"/>
      <span class="logo-title fade-transition">{{ site.title }}</span>
    </a>
    
    <nav class="header-navigation">
      <ul>
        <li class="menu-entry fade-transition"><a href="/about" class="face-transition">About</a></li>
        <li class="menu-entry fade-transition"><a href="/tags" class="face-transition">Tags</a></li>
        <li class="menu-entry fade-transition"><a href="/categories" class="face-transition">Categories</a></li>
        <li class="menu-entry fade-transition"><a href="/" class="face-transition">Home</a></li>
      </ul>
    </nav>
  </div>
  <!--<ul class="social-links">
    <li><a href="https://github.com/{{ site.author.github }}" class="social-links-entry" target="_blank"><i class="fa fa-github"></i></a></li>
  </ul>-->
</header>
