<header class="page-header">
  <div class="page-header-wrapper">
    <!-- Logo -->
    <a href="/" class="logo">
      <img src="/images/logo.svg">
      <span>{{ site.title }}</span>
    </a>
    
    <input id="toggle-menu-state" type="checkbox" autocomplete="off">
    
    <div class="toggle-menu">
      <label for="toggle-menu-state"><span></span></label>
    </div>
    
    <div class="search-link-wrapper">
      <a class="search-link" href="/search"><i class="fa fa-search menu-icon"></i></a>
    </div>
    
    <!-- Menu -->
    <nav>
      <ul>
        {% for menu in site.menus %}
        <li class="menu-list"><a class="menu-entry" href="{{ menu.url }}"><i class="fa fa-{{ menu.icon }} menu-icon"></i> {{ menu.title }}</a></li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</header>
