<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="technical memoizer" />
  <meta name="keywords" content="{{ page.keywords | join:',' }}" />
  <meta name="author" content="{{ site.author.name }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/vendor/font-awesome/css/font-awesome.css" | prepend: site.baseurl }}" />
  <link rel="stylesheet" type="text/css" href="{{ "/css/main.css" | prepend: site.baseurl }}" />
  <title>{% if page.name != null %}{{ page.name }} - {% endif %}{{ site.title }}</title>
</head>
