<div class="contents-footer">
  {% if paginator.previous_page %}
    {% if paginator.previous_page == 1 %}
      <a href="/" class="button fade-transition">&lt;&lt; Previous</a>
    {% else %}
      <a href="/page{{ paginator.previous_page }}" class="button fade-transition">&lt;&lt; Previous</a>
    {% endif %}
  {% else %}
    <span class="button disable">&lt;&lt; Previous</span>
  {% endif %}
  <span class="pagination">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
  {% if paginator.next_page %}
    <a href="/page{{ paginator.next_page }}" class="button fade-transition">Next &gt;&gt;</a>
  {% else %}
    <span class="button disable">Next &gt;&gt;</span>
  {% endif %}
</div>
