

// -----------------------------------------------------------------------------
// Figures and Images
// -----------------------------------------------------------------------------

figure {
    margin:             0 0 1em;
    padding:            10px 0;
}


iframe {
    width: 100%;
}


a {
    word-wrap:      break-word;
}
