
// -----------------------------------------------------------------------------
// Body style
// -----------------------------------------------------------------------------

body {
    background-color:           $body-color;
}


// -----------------------------------------------------------------------------
// Page header
// -----------------------------------------------------------------------------

.page-header {
    background-color:           $page-header-back-color;
    position:                   fixed;
    z-index:                    50;
    
    width:                      100%;
    height:                     $page-header-height;
    
    box-shadow:                 0 0px 8px $header-shadow-color;
    
    nav {
        position:               absolute;
        background-color:       $toggle-menu-back-color;
        padding-top:            $page-header-height;
        
        top:                    0;
        right:                  -$toggle-menu-width;
        
        ul {
            margin:             0;
            padding:            0;
            
            list-style:         none;
        }
        
        @media #{$large} {
            position:           relative;
            float:              right;
            top:                0;
            
            background-color:   transparent;
            
            padding:            0;
            right:              0;
        }
    }
}

.menu-icon {
    width:                      25px;
}

.page-header-wrapper {
    position:                   relative;
    
    padding:                    0 10px;
    margin:                     0 auto;
    
    max-width:                  950px;
    
    @media #{$small} {
        padding:                0 20px;
    }
}

.logo {
    display:                    -webkit-inline-flex;
    display:                    -moz-inline-flex;
    display:                    -ms-inline-flex;
    display:                    -o-inline-flex;
    display:                    inline-flex;
    
    height:                     100%;
    align-items:                center;
    float:                      left;
    
    
    img {
        width:                  48px;
        height:                 48px;
    }
    
    
    span {
        font-size:              1.6em;
        padding-left:           5px;
    
        @include                transition(all 0.3s ease);
    }
    
    
    &:hover span {
        color:                  $base-color;
        text-shadow:            0 0 3px lighten($base-color, 40);
    }
}

.toggle-menu {
    position:                   relative;
    z-index:                    100;
    
    display:                    -webkit-flex;
    display:                    -moz-flex;
    display:                    -ms-flex;
    display:                    -o-flex;
    display:                    flex;
    
    @media #{$large} {
        display:                none;
    }
    
    align-items:                center;
    justify-content:            center;
    
    height:                     100%;
    
    float:                      right;
    
    
    label {
        position:               relative;
        
        display:                -webkit-flex;
        display:                -moz-flex;
        display:                -ms-flex;
        display:                -o-flex;
        display:                flex;
        align-items:            center;
        justify-content:        center;
        
        width:                  55px;
        height:                 40px;
        
        cursor:                 pointer;
        
        
        &:before {
            content:            "";
            display:            block;
            
            width:              35px;
            height:             20px;
            
            background-color:   $toggle-menu-back-color;
    
            @include            transition(all 0.3s ease);
        }
        
        
        span:before,
        span:after {
            position:           absolute;
            top:                50%;
            right:              10;
            
            content:            "";
            display:            block;
            
            width:              35px;
            height:             4px;
            
            background-color:   $page-header-back-color;
    
            @include            transition(all 0.3s ease);
        }
        
        span:before {
            margin-top:         -6px;
        }
        
        span:after {
            margin-top:         2px;
        }
    }
}


#toggle-menu-state {
    display:                    none;
    
    &:not(:checked) ~ nav {
        @include                transition(all 0.3s ease);
        
        @media #{$large} {
            display:            inline-block;
        }
    }
    
    &:checked {
        & ~ .toggle-menu label {
            &:before {
                background-color:   transparent;
            }
            
            &:hover {
                span:before,
                span:after {
                    background-color:   lighten($toggle-menu-link-color, 40);
                }
            }
            
            span:before,
            span:after {
                background-color:   $toggle-menu-link-color;
                margin-top:         -2px;
                border-radius:      5px;
            }
            
            span:before {
                transform:          rotate(45deg);
            }
            span:after {
                transform:          rotate(-45deg);
            }
        }
        
        & ~ nav {
            right:                  0;
            box-shadow:             0 0 10px darken($header-shadow-color, 40);
    
            @include                transition(all 0.3s ease);
            
            @media #{$large} {
                box-shadow:         none;
            }
        }
    }
}


.menu-list {
    @media #{$large} {
        float:                  left;
    }
}


.search-link-wrapper {
    display:                    inline-block;
    float:                      right;
}


.search-link {
    display:                    table-cell;
    
    padding-left:               10px;
    
    @media #{$small} {
        padding-left:           20px;
        padding-right:          10px;
    }
    
    height:                     70px;
        
    border-top:                 5px solid transparent;
    border-bottom:              5px solid transparent;
    border-left:                0;
    
    vertical-align:             middle;
    
    color:                      lighten($base-color, 10);
    
    @include                    transition(all 0.3s ease);
    
    &:hover {
        color:                  darken($base-color, 10);
        text-shadow:            0 0 1px lighten($base-color, 10);
        
        border-top:             5px solid $menu-entry-border-color;
        border-left:            0;
    }
}


.menu-entry {
    display:                    inline-block;
    
    padding:                    20px 30px;
    width:                      $toggle-menu-width;
    
    border-left:                5px solid transparent;
    
    color:                      $toggle-menu-link-color;
    font-size:                  $link-font-size;
    
    @include                    transition(all 0.3s ease);
    
    &:hover {
        color:                  lighten($toggle-menu-link-color, 40);
        text-shadow:            0 0 1px darken($toggle-menu-link-color, 30);
        border-left:            5px solid $toggle-menu-entry-border-color;
        
        @media #{$large} {
            color:              darken($base-color, 10);
            text-shadow:        0 0 1px lighten($base-color, 10);
            
            border-top:         5px solid $menu-entry-border-color;
            border-left:        0;
        }
    }
    
    @media #{$large} {
        display:                table-cell;
        padding:                0 15px;
        
        width:                  inherit;
        height:                 70px;
        
        border-top:             5px solid transparent;
        border-bottom:          5px solid transparent;
        border-left:            0;
        
        vertical-align:         middle;
        
        color:                  lighten($base-color, 10);
    }
}



// -----------------------------------------------------------------------------
// Page contents
// -----------------------------------------------------------------------------

.contents-header {
    position:                   relative;
    height:                     300px;
    
    text-align:                 center;
    
    color:                      white;
    background-color:           $contents-header-back-color;
    
    
    div {
        position:               absolute;
        bottom:                 0;
        
        width:                  100%;
    }
}


.contents-body {
    max-width:                  900px;
    
    margin:                     40px auto;
    padding:                    0 10px;
}


.contents {
    margin-top:                 30px;
    padding:                    30px 20px;
    
    @media #{$medium} {
        padding:                30px 50px;
    }
    
    box-shadow:                 0 0 5px $article-shadow-color;
    border-radius:              3px;
    
    background-color:           $contents-body-back-color;
    
    h1, h2, h3, h4, h5, h6, p, li {
        word-wrap:              break-word;
    }
}


.tag-header {
    margin-top:                 -($page-header-height + 10);
    padding-top:                 ($page-header-height + 10);
}


.post-link:hover {
    color:                      $base-color;
    text-shadow:                0 0 3px lighten($base-color, 40);
}


.contents-entry {
    @include                    font(16);
    
    p  > a,
    li > a,
    .notice > a {
        border-bottom:          1px dotted lighten($link-color, 30);
        
        &:not(.reversefootnote):before {
            content:            "\f0c1";
            font-family:        FontAwesome;
            padding-right:      5px;
        }
        
        &:hover {
            color:                  $base-color;
            border-bottom-style:    solid;
            text-shadow:            0 0 1px lighten($base-color, 40);
        }
    }
}


.article-metadata {
    display:                    inline-block;
    
    margin:                     5px 0;
    
    color:                      $article-metadata-color;
    font-size:                  0.75em;
    text-transform:             uppercase;
}


.reading-time {
    @media #{$small} {
        display:                inline;
        float:                  right;
    }
}


.contents-footer {
    color:                      $base-text-color;
    
    & > div {
        border-top:             2px dotted lighten($base-color, 60);
        
        margin-top:             30px;
    }
}


.contents-navigator-wrapper {
    display:                    -webkit-flex;
    display:                    -moz-flex;
    display:                    -ms-flex;
    display:                    -o-flex;
    display:                    flex;
    flex-wrap:                  wrap;
    justify-content:            center;
}


.contents-navigator {
    display:                    inline-block;
    
    width:                      100%;
    max-width:                  300px;
    
    margin-bottom:              10px;
    
    
    * {
        margin:                 0;
    }
    
    a {
        position:               relative;
        
        display:                inline-block;
        width:                  100%;
        
        color:                  lighten($base-text-color, 20);
        
        
        &:hover {
            color:              darken($base-text-color, 20);
            text-shadow:        0 0 1px $base-text-color;
        }
        
        &:before,
        &:after {
            position:           absolute;
            top:                50%;
            
            display:            inline-block;
            width:              $indicator-width;
            
            margin-top:         -0.5em;
            
            font-family:        FontAwesome;
            font-size:          1.8em;
            
            text-align:         center;
        }
        
        .posted-date {
            font-size:          .8em;
        }
    }
}


.previous-post {
    text-align:                 left;
    padding-left:               $indicator-width;
    
    a:before {
        content:                "\f190";
        left:                   -$indicator-width;
    }
    
    a:hover:before {
        content:                "\f0a8";
    }
}


.next-post {
    text-align:                 right;
    padding-right:              $indicator-width;
    
    a:after {
        content:                "\f18e";
        right:                  -$indicator-width;
    }
    
    a:hover:after {
        content:                "\f0a9";
    }
}


.inline-list {
    list-style:                 none;
    
    margin-left:                0;
    padding-left:               0;
}


.tags {
    @include                    font-rem(12);
    color:                      lighten($base-color, 60);
    
    text-transform:             uppercase;
    
    li {
        display:                inline-block;
    }
    
    a {
        color:                  lighten($base-color, 60);
    }
    
    .tag {
        display:                inline-block;
        
        margin:                 8px 3px;
        padding:                3px 0;
        
        color:                  white;
        
        span {
            padding:            3px 8px;
            background-color:   lighten($base-color, 50);
            
            @include            border-rounded(3px);
            @include            transition(all 0.3s ease);
        }
        
        .entry {
            margin:             8px 3px;
            padding:            5px 8px;
        }
        
        .term {
            @include            border-radius(0, 0, 3px, 3px);
        }
        
        .count {
            background-color:   lighten($base-color, 40);
            @include            border-radius(3px, 3px, 0, 0);
        }
        
        &:hover {
            .entry,
            .term {
                background-color:   lighten($menu-entry-border-color, 10);
            }
            
            .count {
                background-color:   $tag-highlight-color;
            }
            
        }
    }
}


.page-navigator {
    display:                        -webkit-inline-flex;
    display:                        -moz-inline-flex;
    display:                        -ms-inline-flex;
    display:                        -o-inline-flex;
    display:                        inline-flex;
    justify-content:                center;
    
    width:                          100%;
    text-align:                     center;
    
    margin-top:                     30px
}



// -----------------------------------------------------------------------------
// Page footer
// -----------------------------------------------------------------------------

.page-footer {
    background-color:       $page-footer-back-color;;
    min-height:             200px;
    margin-top:             30px;
    text-align:             center;
    
    
    address {
        padding:            40px 10px 20px;
    }
    
    small {
        display:            block;
    }
}
