
// -----------------------------------------------------------------------------
// Utility Mixins
// -----------------------------------------------------------------------------


// ---------------------------
// for Typography
// ---------------------------

@mixin font($size) {
    font-size:    0px  + $size;
    font-size:    0rem + $size / $doc-font-size;
    line-height:  0    + round($doc-line-height / $size*10000) / 10000;
}

// ---------------------------
// Just the REMs
// ---------------------------

@mixin font-rem($size) {
    font-size:    0px  + $size;
    font-size:    0rem + $size / $doc-font-size;
}



// ---------------------------
// Corners
// ---------------------------

// .border-rounded(VALUE);
@mixin border-rounded($radius:4px) {
    -webkit-border-radius:          $radius;
    -moz-border-radius:             $radius;
    -ms-border-radius:              $radius;
    -o-border-radius:               $radius;
    border-radius:                  $radius;
}


// .border-radius(VALUE,VALUE,VALUE,VALUE);
@mixin border-radius($topright: 0, $bottomright: 0, $bottomleft: 0, $topleft: 0) {
    -webkit-border-top-right-radius:    $topright;
    -webkit-border-bottom-right-radius: $bottomright;
    -webkit-border-bottom-left-radius:  $bottomleft;
    -webkit-border-top-left-radius:     $topleft;
    -moz-border-radius-topright:        $topright;
    -moz-border-radius-bottomright:     $bottomright;
    -moz-border-radius-bottomleft:      $bottomleft;
    -moz-border-radius-topleft:         $topleft;
    -ms-border-radius-topright:         $topright;
    -ms-border-radius-bottomright:      $bottomright;
    -ms-border-radius-bottomleft:       $bottomleft;
    -ms-border-radius-topleft:          $topleft;
    -o-border-radius-topright:          $topright;
    -o-border-radius-bottomright:       $bottomright;
    -o-border-radius-bottomleft:        $bottomleft;
    -o-border-radius-topleft:           $topleft;
    border-top-right-radius:            $topright;
    border-bottom-right-radius:         $bottomright;
    border-bottom-left-radius:          $bottomleft;
    border-top-left-radius:             $topleft;
    
    -webkit-background-clip:            padding-box;
    -moz-background-clip:               padding;
    -ms-background-clip:                padding-box;
    -o-background-clip:                 padding;
    background-clip:                    padding-box;
}


// .box-shadow(HORIZONTAL VERTICAL BLUR COLOR))
@mixin box-shadow($shadow: 0 1px 3px rgba(0, 0, 0, .25)) {
    -webkit-box-shadow:               $shadow;
    -moz-box-shadow:                  $shadow;
    -ms-box-shadow:                   $shadow;
    -o-box-shadow:                    $shadow;
    box-shadow:                       $shadow;
}


// ---------------------------
// Transformations
// ---------------------------

// .transition(PROPERTY DURATION DELAY(OPTIONAL) TIMING-FINCTION);
@mixin transition($transition) {
    -webkit-transition :              $transition;
}

// .translate(VALUE, VALUE)
@mixin translate($x: 0, $y: 0) {
    -webkit-transform:                translate($x, $y);
    -moz-transform:                   translate($x, $y);
    -ms-transform:                    translate($x, $y);
    -o-transform:                     translate($x, $y);
    transform:                        translate($x, $y); 
}
