
// -----------------------------------------------------------------------------
// Pagination classes
// -----------------------------------------------------------------------------

.paginator {
    display:                    inline-block;
    
    margin:                     10px;
    padding:                    10px 0;
}


.button {
    display:                    inline-block;
    
    border:                     2px solid $button-primary-border-color;
    border-radius:              5px;
    
    margin:                     10px;
    padding:                    8px 20px;
    
    color:                      $button-primary-text-color;
    font-size:                  .875rem;
}


a.button:hover {
    color:                      white;
    background-color:           $button-primary-back-color;
}


.previous::before {
    content:                    "<< ";
}
.next::before {
    content:                    " >>";
}


.disable {
    border:                     2px solid $button-disable-border-color;
    color:                      $button-disable-text-color;
}



.balloon {
    position:                   relative;
    
    display:                    inline-block;
    padding:                    10px;
    
    background-color:           $code-primary-back-color;
    color:                      white;
    
    font-family:                $code-font;
    font-size:                  .9em;
    
    border-radius:              5px;
    
    &:after {
        content:                "";
        
        display:                inline-block;
        width:                  10px;
        height:                 15px;
        
        position:               absolute;
        bottom:                 -15px;
        left:                   20;
        
        border-style:           solid;
        border-color:           $code-primary-back-color transparent transparent transparent;
        border-width:           15px 10px 0;
    }
}
