
// -----------------------------------------------------------------------------
// Import Web Fonts
// -----------------------------------------------------------------------------

@import url(//fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(//cdn.jsdelivr.net/font-hack/2.019/css/hack-extended.min.css);


// -----------------------------------------------------------------------------
// Body style
// -----------------------------------------------------------------------------

body {
    font-size:          0px + $doc-font-size;
    font-family:        $base-font;
    
    color:              $base-text-color;
}


// -----------------------------------------------------------------------------
// Headings
// -----------------------------------------------------------------------------

h1, h2, h3, h4, h5, h6 {
    font-family:        $base-font;
}

h1 {
    @include            font-rem(28);
    
    @media #{$medium} {
        @include        font-rem(32);
    }
}



// -----------------------------------------------------------------------------
// Links
// -----------------------------------------------------------------------------

a {
    text-decoration:    none;
    color:              $link-color;
    
    @include            transition(all 0.3s ease);
    
    &:hover,
    &:active {
        outline:        0;
    };
}


// -----------------------------------------------------------------------------
// Figures
// -----------------------------------------------------------------------------

figcaption {
    padding-top:        10px;
    
    font-size:          .9em;
    line-height:        1.2;
    
    color:              lighten($base-text-color, 20);
}


// -----------------------------------------------------------------------------
// Note text
// -----------------------------------------------------------------------------

.notice {
    margin:             1em 0;
    padding:            .5em 1em;
    
    @include            font(13);
    background-color:   $body-color;
    
    border:             1px solid darken($body-color, 20);
    @include            border-rounded(3px);
}


// -----------------------------------------------------------------------------
// Blockquotes
// -----------------------------------------------------------------------------

blockquote {
    font-family:        $base-font;
    font-style:         italic;
    
    border-left:        8px solid $border-color;
    
    margin:             1em 20px;
    padding-left:       20px;
    
    //@media #{$medium} {
    //    margin-left:    -28px;
    //}
}


// -----------------------------------------------------------------------------
// List items
// -----------------------------------------------------------------------------

.contents-entry {
    dl {
        @media #{$small} {
            padding-left:       40px;
        }
        
        .days-header {
            float:              left;
        }
        
        dl {
            padding:            0;
        }
            
        ul {
            list-style:     none;
            padding-left:   50px;
        }
    }
    
    dt {
        font-weight:        bold;
    }
    
    li, dd {
        margin-bottom:      7px;
        word-wrap:          break-word;
    }
}


// -----------------------------------------------------------------------------
// Footnotes
// -----------------------------------------------------------------------------

.footnotes {
    ol, li, p {
        font-size:      .875rem;
    }
}


// -----------------------------------------------------------------------------
// Codes
// -----------------------------------------------------------------------------

tt,
code,
kbd,
samp,
pre {
    font-family:        $code-font;
}


pre {
    overflow-x:         auto;
    
    &::-webkit-scrollbar {
        height:             10px;
        background-color:   $scrollbar-color;
        border-radius:      5px;
    }
    &::-webkit-scrollbar-thumb:horizontal {
        background-color:   $scrollbar-back-color;
        border-radius:      5px;
    }
}

p,
li,
dl,
td {
    code {
        font-size:          .8em;
        
        background-color:   lighten($code-primary-back-color, 80);
        
        margin:             0 2px;
        padding:            0 5px;
        
        border:             1px solid lighten($code-primary-back-color, 65);
        @include            border-rounded(3px);
    }
}


footer {
    color:              $footer-text-color;
    
    
    a {
        color:          $footer-link-color;
    }
}


address {
    font-style:     normal;
}
