// Definition of all variable used in other SCSS

$base-font:         Lato, 'Segoe UI', Calibri, Arial, sans-serif;
$code-font:         Hack, Consolas, monospace;

$doc-font-size:     16;
$doc-line-height:   26;



// ---------------------------
// Colors
// ---------------------------

$base-color:                    rgba(#222, 0.8);


// Background colors

$body-color:                    #EAEAEA;
$toggle-menu-back-color:        #2B2B2B;
$page-header-back-color:        white;

$contents-header-back-color:    #2B2B2B;
$contents-body-back-color:      white;

$page-footer-back-color:        #2B2B2B;


// Shadow colors

$header-shadow-color:           rgba(#2B2B2B, 0.4);
$article-shadow-color:          #AAAAAA;


// Text colors

$base-text-color:               #6B6B6B;
$link-color:                    #6B6B6B;

$contents-header-color:         white;
$article-metadata-color:        #ACACAC;

$footer-text-color:             lighten($base-text-color, 10);
$footer-link-color:             lighten($link-color, 30);


// Menu colors

$toggle-menu-link-color:        lighten($link-color, 40);
$toggle-menu-entry-border-color:#E45145;
$menu-entry-border-color:       #FE5A5A;


// Control colors

$button-primary-border-color:   #2B2B2B;
$button-primary-back-color:     #2B2B2B;
$button-primary-text-color:     #2B2B2B;
$button-disable-border-color:   #ACACAC;
$button-disable-text-color:     #ACACAC;

$scrollbar-color:               #34362E;
$scrollbar-back-color:          #6A6D5D;

$tag-highlight-color:           #E45145;


// Code colors
$code-primary-back-color:       #262822;
$code-primary-text-color:       #F0F0F0;


// Border colors
$border-color:                  lighten(#222222, 60);



// ---------------------------
// Sizes
// ---------------------------

// page-header

$page-header-height:            70px;
$toggle-menu-width:             200px;

$link-font-size:                1.17em;


// page-navigation

$indicator-width:               40px;



// -----------------------------------------------------------------------------
// Screen Size
// -----------------------------------------------------------------------------

$small:                         "only screen and (min-width: 25em)";
$medium:                        "only screen and (min-width: 37em)";
$large:                         "only screen and (min-width: 56em)";
