// Definition of all variable used in other SCSS


$base-font:         Lato, 'Segoe UI', Calibri, Arial, sans-serif;
$code-font:         Hack, monospace, Consolas;



// ---------------------------
// Colors
// ---------------------------

// Background colors

$body-color:                    #EAEAEA;
$toggle-menu-back-color:        #2B2B2B;
$page-header-back-color:        white;

$contents-header-back-color:    #2B2B2B;
$contents-body-back-color:      white;

$page-footer-back-color:        #2B2B2B;


// Shadow colors

$header-shadow-color:           #AAAAAA;
$article-shadow-color:          #AAAAAA;


// Text colors

$base-text-color:               #6B6B6B;
$link-color:                    #6B6B6B;

$contents-header-color:         white;
$article-metadata-color:        #ACACAC;

$footer-text-color:             lighten($base-text-color, 10);
$footer-link-color:             lighten($link-color, 30);


// Menu colors

$toggle-menu-link-color:        lighten($link-color, 20);
$menu-entry-border-color:       #E45145;



// ---------------------------
// Sizes
// ---------------------------

// page-header

$page-header-height:        70px;
$toggle-menu-width:         180px;

$link-font-size:            1.17em;
