@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,700;1,700&display=swap');

code {
    font-family: 'Roboto Mono', monospace;
}

div.language-shell.highlight>pre>code {
    padding-left: 2.5em;
}

div.admonition>div.language-shell.highlight>pre>code {
    padding-left: 3em;
}

div.language-powershell.highlight>pre>code,
div.language-ps1.highlight>pre>code {
    padding-left: 3.7em;
}

details>div.language-powershell.highlight>pre>code,
details>div.language-ps1.highlight>pre>code,
div.admonition>div.language-powershell.highlight>pre>code,
div.admonition>div.language-ps1.highlight>pre>code {
    padding-left: 4.2em;
}

details>div.language-batch.highlight>pre>code,
details>div.language-bat.highlight>pre>code,
div.admonition>div.language-batch.highlight>pre>code,
div.admonition>div.language-bat.highlight>pre>code {
    padding-left: 4.7em;
}

div.language-batch.highlight>pre>code,
div.language-bat.highlight>pre>code {
    padding-left: 4.2em;
}

div.highlight>pre>code:before {
    color: darkgray;
    position: absolute;
    left: 16px;
}

div.language-shell.highlight>pre>code:before {
    content: '$';
}

div.language-shell.highlight.root>pre>code:before {
    content: '#';
}

div.language-powershell.highlight>pre>code:before,
div.language-ps1.highlight>pre>code:before {
    content: 'PS>';
}

div.language-batch.highlight>pre>code:before,
div.language-bat.highlight>pre>code:before {
    content: 'DOS>';
}

div.language-console>pre>code,
div.language-ps1con>pre>code {
    padding-top: 2.5em !important;
}
div.language-console>pre>code:before,
div.language-ps1con>pre>code:before {
    content: '(実行例)';
    display: inline-block;
    position: absolute;
    top: 0.7em;
}

div.language-text>pre>button,
div.language-console>pre>button,
div.language-ps1con>pre>button {
    display: none;
}

h2 {
    font-weight: bold;
    border-top: solid 0.5px rgba(200, 200, 200, 0.4);
    padding-top: 1.6em;
}

h3 {
    margin-top: 2.5em !important;
}

h4 {
    margin-top: 2em !important;
}

dt {
    font-weight: bold;
}

.md-typeset .tabbed-set {
    margin-bottom: 2em;
    padding: 10px 15px 0px;
    box-shadow: var(--md-shadow-z1);
}

.md-typeset .tabbed-block>.highlight:first-child>pre,.md-typeset .tabbed-block>pre:first-child {
    margin: 1em 0 !important;
}

.md-typeset .tabbed-labels:before {
    background: var(--md-accent-fg-color) !important;
}
