<!DOCTYPE html>
<html lang="ja">
  {% include meta-data.html %}
  
  <body>
    <!-- Page Header -->
    {% include header.html %}
    
    <!-- Main -->
    <main>
      <!-- Content Headser -->
      <div class="contents-header">
        <div class="contents-header-wrapper">
          <h1>How did I do that?</h1>
          <p>I have to memoize what I did...</p>
        </div>
      </div>
      
      <!-- Articles -->
      <div class="contents-body">
        {{ content }}
      </div>
    </main>
    
    <!-- Page Footer -->
    {% include footer.html %}
    
    <!-- Script Loading -->
    <script src="{{ "/assets/vendor/highlight/highlight.pack.js" | prepend: site.baseurl }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
  </body>
</html>
