<!DOCTYPE html>
<html lang="ja">
  {% include meta-data.html %}
  
  <body>
    <!-- Page Header -->
    {% include header.html %}
    
    <!-- Main -->
    <main>
      <!-- Content Headser -->
      <div class="contents-header">
        <div class="contents-header-wrapper">
          <h1>{{ page.title }}</h1>
          {% if page.date %}
            <h2><time datetime="{{ page.date | date_to_xmlschema }}">{{ page.date | date: "%B %d, %Y" }}</time></h2>
          {% else %}
            <h2>{{ page.subtitle }}</h2>
            <h3>Heading</h3>
          {% endif %}
          
          {% if page.layout == 'post' %}
            {% assign readtime = page.content | number_of_words | divided_by:site.words_per_minute %}
            <p class="estimate-reading-time"><i class="fa fa-clock-o"></i> Estimate reading time ~{% if readtime <= 1 %}1 minute{% else %}{{ readtime }} minutes{% endif %}</p>
          {% endif %}
        </div>
      </div>
      
      <!-- Articles -->
      <div class="contents-body">
        {{ content }}
      </div>
    </main>
    
    <!-- Page Footer -->
    {% include footer.html %}
    
    <!-- Script Loading -->
  </body>
</html>
