---
layout:         default
---

<!-- Post -->
<article class="contents">
  <section class="contents-entry">
    {{ content }}
  </section>
  <footer class="contents-footer">
    {% if page.tags.size != 0 %}
    <div style="text-align: center">
      <h2>Tagged as follows</h2>
      <span class="tags">{% for tag in page.tags %}<a href="{{ site.url }}/tags#{{ tag }}" title="Pages tagged {{ tag }}" class="tag"><span class="entry">{{ tag }}</span></a>{% endfor %}</span>
    </div>
    {% endif %}
    {% if page.previous or page.next %}
    <div>
      <h2 style="text-align: center">Read more</h2>
      <div class="contents-navigator-wrapper">
        <div class="contents-navigator previous-post">
          {% if page.previous %}
          <a href="{{ page.previous.url | prepend: baseurl }}" title="{{ page.previous.title }}">
            <span>Previous post</span>
            <h3>{{ page.previous.title }}</h3>
            <span class="posted-date">Published on {{ page.previous.date | date: "%b %d, %Y" }}</span>
          </a>
          {% endif %}
        </div>
        <div class="contents-navigator next-post">
          {% if page.next %}
          <a href="{{ page.next.url | prepend: baseurl }}" title="{{ page.next.title }}">
            <span>Next post</span>
            <h3>{{ page.next.title }}</h3>
            <span class="posted-date">Published on {{ page.next.date | date: "%b %d, %Y" }}</span>
          </a>
          {% endif %}
        </div>
      </div>
    </div>
    {% endif %}
  </footer>
</article>

<!-- Contents footer -->
<div class="contents-footer">
  
</div>

